.detail_images .col{
    padding: 10px;
}
.btn_cont_view{
    margin-bottom: 18px;
    width: 100%;
}   
.btn_cont_view div{
    width: 100% !important;
}
.btn_cont_fav div{
    background-color: #fff;
    color: #000000;
    border: 1px solid;
    font-family:"FuturaPTBook";
    font-size: 20px;
    line-height: 26px;
}
.shared_option{
    padding-right: 15px !important;
}
.shared_images img{
    width: 20px;
    margin-right: 15px;
    cursor: pointer;
}
.social_main{
    padding-top: 15px;
}
.colors_main{
    display: inline;
}
.init{
    display: flex;
    padding-bottom: 15px !important;
}
hr{
    margin-top: 15px;
}
.size{
    margin-left: 0px; 
    margin-right: 15px; 
}
.sizes_cont{
    display: inline;
    width: 250px !important;
}
.title_detail{
    color: #000000;
    font-family:"FuturaPTDemi";
    font-size: 16px;
    line-height: 21px;
    margin-top: 15px;
}
.text_detail{
    font-family:"FuturaPTBook";
    font-size: 16px;
    line-height: 18px;
    margin-top: 15px;
}
.more_detail{
    text-decoration:underline;
    cursor: pointer;
}
.detail_main_cont .tabs{
    margin-top: 17px;
    background-color: #E6E6E6;
}
.detail_main_cont .tabs{
    padding-left: 64px;
}
.detail_main_cont .tabs .tab a{
    color:#000000;
}
.indicator{
    width: 16.6667%;
    top: 36px;
    background-color:#000000 !important;
}
.tabs_main{
    background: #E6E6E6;
    padding-bottom: 17px !important;
}
.cont_detail_description{
    padding: 0px 64px !important;
}
.tabs .indicator{
    height: 1px;
}
.title_description{
    font-family:"FuturaPTDemi";
    font-size: 18px;
    line-height: 32px;
    color:#0043BA;
    margin-bottom: 25px;
    margin-top: 20px;
}
.text_description{
    font-family:"FuturaPTBook";
    font-size: 18px;
    line-height: 24px;
    color:#707070;
    margin-bottom: 40px;
}
.subtitle_description{
    color:#212121;
    font-family:"FuturaPTDemi";
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
}
.title_charact{
    color:#707070;
    font-family:"FuturaPTDemi";
    font-size: 18px;
    line-height: 28px;
}
.text_charact{
    color:#707070;
    font-family:"FuturaPTBook";
    font-size: 18px;
    line-height: 28px;
}
.charact_cont{
    margin-bottom: 28px;
}
.title_main{
    color:#000000;
    font-family:"FuturaPTBold";
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 45px;
    margin-top: 20px;
}
.item_scroll_main{
    width: 100%;
}
.element{
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.products_main_cont{
    padding-left: 55px;
    padding-right: 55px;
}
.products2_main_cont{
    padding-left: 55px;
    padding-right: 55px;
    padding-bottom: 55px;
}
.rating_main_detail{
    padding-top: 55px !important;
}
.tabs .tab a{
    color:#6B6B6B;
    font-family:"FuturaPTDemi";
    font-size: 18px;
    line-height: 32px;
    text-transform: none;
}
.tabs .tab a.active{
    color:#000000;
}
.rating_main_detail .rating{
    font-size: 28px;
    height: 52px;
}
.rating_main_detail .rating .rate-base-layer{
    height: 52px;
}
.rating_main_detail .rating .rate-select-layer{
    height: 52px;
}
.rating_main_detail .num_rating{
    height: 31px;
    width: 52px !important;
    font-size: 31px;
    line-height: 18px;
    font-family: "FuturaPTDemi";
    color: #000000;
    padding-top: 4px;
    margin-left: 30px !important;
    margin-top:5px;
}
.rating_main_detail .res_rating{
    font-size: 18px;
    line-height: 32px;
    font-family: "FuturaPTDemi";
    color: #707070;
    padding-top: 4px;
    margin-left: 30px !important;
}
.options_detail_retail{
    padding: 0px 112px !important;
    margin-top: 15px;
}
.cont_btn_detail{
    justify-content: flex-end !important;
}
.order_detail{
    margin-top: 0px;
}
.rating_mobile{
    display: none;
}
.retail_users_list{
    margin-top: 20px;
}
.retail_users_list .center{
    margin-top: 15px;
}
.title_user_ret{
    font-size: 18px;
    line-height: 20px;
    font-family: "FuturaPTDemi";
}
.text_user_ret{
    margin-top: 10px;
    font-size: 18px;
    line-height: 24px;
    font-family: "FuturaPTBook";
}
.time_res_user{
    text-align: right;
    font-size: 18px;
    line-height: 14px;
    font-family: "FuturaPTBook";
}
.cont_res_user{
    margin-bottom: 60px;
}
.check_res_user{
    display: none;
}
.view_mobile{
    display: none;
}

@media(max-width:600px){
    .rate_mobile_user{
        padding-left: 5px !important;
    }
    .date_res_user{
        font-size: 10px;
        line-height: 14px;
        font-family: "FuturaPTBook"; 
    }
    .title_user_ret{
        font-size: 14px;
        line-height: 20px;
        font-family: "FuturaPTDemi";
    }
    .text_user_ret{
        font-size: 12px;
        line-height: 16px;
        font-family: "FuturaPTBook";
    }
    .view_mobile{
        display: block;
    }
    .check_res_user{
        display: block;
        text-align: right;
    }
    .opinion_mobile_detail{
        font-size: 12px;
        line-height: 32px;
        font-family: "FuturaPTBook";
        color: #707070;
        margin-top: -5px;
    }
    .rating_mobile{
        display: flex;
        justify-content: center;
        padding-top: 20px !important;
    }
    .rating_mobile .num_rating{
        border: 0px;
        font-size: 32px;
        line-height: 26px;
        font-family: "FuturaPTDemi";
        color: #000000;
        height: auto;
        margin-right: 15px;
        margin-left: 0px !important;
    }
    .options_detail_retail{
        padding: 0px !important;
    }
    .options_detail_retail div{
        background-color: #fff;
        color: #000000;
    }
    .options_detail_retail .btn_cont_view{
        border: 1px solid;
        border-radius: 20px;
    }
    .back_mobile{
        margin-bottom: 0px;
    }
    .detail_images .col{
        padding: 0px;
        padding-bottom: 10px;
    }
    .des_detail_main{
        padding-left:0px !important;
    }
    .colors_main div{
        margin-right: 15px;
    }
    .detail_images .s12{
        display: flex !important;
        justify-content: center !important;
    }   
    .res_rating_write{
        margin-left: 15px !important;
    }
    .text_detail{
        font-family: "FuturaPTDemi";
        font-size: 22px;
        line-height: 24px;
    }
    .shared_option{
        text-align: center;
        padding-bottom: 20px !important;
    }
    .right_social{
        text-align: right;
    }
    .center_social{
        text-align: center;
    }
    .shared_images img{
        width: 50px;
    }
    .social_main{
        padding-bottom: 20px;
    }
    .detail_main_cont .tabs{
        padding-left: 0px;
    }
    .indicator{
        width: 50% !important;
    }
    .cont_detail_description{
        padding-right: 15px !important;
        padding-left: 15px !important;
    }
    .title_description{
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .text_description{
        margin-bottom: 20px;
    }
    .title_main{
        font-size: 16px;
        line-height: 32px;
        font-family: "FuturaPTDemi";
        margin-left: -20px; 
    }
    .des_detail_main, .sizes_cont{
        width: 100% !important;
    }
    .options_detail_retail .rating{
        color:#0743BA;
        font-size: 14px;
    }
}