@font-face {
    font-family: "FuturaPTDemi";
    src: url("../fonts/FuturaPT/FuturaPTDemi.otf");
}
@font-face {
    font-family: "FuturaPTBook";
    src: url("../fonts/FuturaPT/FuturaPTBook.otf");
}
@font-face {
    font-family: "FuturaPTBold";
    src: url("../fonts/FuturaPT/FuturaPTBold.otf");
}
@font-face {
    font-family: "FuturaPTMedium";
    src: url("../fonts/FuturaPT/FuturaPTMedium.otf");
}

body{
    font-family: "FuturaPTBook";
    overflow-x: hidden;
}
.row{
    margin: 0px;
    padding: 0px;
}
.row .col{
    padding: 0px;
}
main{
    margin-top: 150px;
}
.show_header{
    transform: scaleY(0);
    display: none;
}
.quit_header{
    transform: scaleY(1);
    display: block;
}
header{
    position: fixed;
    top:0;
    width: 100vw;
    z-index: 100000;
}
.menu_tranform{
    padding: 10px 55px 10px 55px !important;
}
.change_logo img{
    width: 38px;
}
.menu_tranform_normal{
    animation-name: header_animation_normal;
    animation-duration: 0.2s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}
@keyframes header_animation_normal {
    0% {height:6px}
    100% {height:100px}
}
.menu_tranform{
    animation-name: header_animation;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}
@keyframes header_animation {
    0% {height:100px}
    100% {height:60px}
}

.information_header{
    background-color: #212121;
    color:#F5F5F5;
    height: 36px;
    padding-left: 55px;
    padding-right: 55px;
    margin-bottom: 0px;
}
.information_main{
    height: 100%;
    display: flex;
    justify-content: flex-end;
}
.atribute_information{
    height: 100%;
    display: flex;
    align-items: center; 
    width: 100px;
    padding: 0px;
    justify-content: flex-end
}
.text_info{
    margin-left: 10px;
    font-size: 14px;
}
.information_promo{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
}
.text_promo{
    padding-left: 150px;
    padding-right: 150px;
    font-size: 14px;
    text-align: center;
    line-height: 17px;
}
.main_header{
    padding: 20px 55px 20px 55px;
}
#menu_main{
    background-color: #FFFFFF;
    height: 100px;
    display: flex;
    align-items: center;
    color:#000000
}
#menu_main .area1{
    display: flex;
    align-items: center;
    padding: 0px;
    margin: 0px;
}
#menu_main .area1 div{
    margin-right: 25px;
    cursor: pointer;
}
#menu_main .area2{
    padding-right: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
}
.search{
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 19px;
    height: 40px;
    margin-right: 35px;
}
.search input[type=text]{ 
    border: 0;
    margin: 0;
    margin-left: 10px;
    font-size: 16px;
}
input[type=text]:not(.browser-default):focus:not([readonly]){
    border: 0;
    box-shadow:none;
}
.hello{
    width: 35px;
    height: 27px;
    font-size: 10px;
    line-height: 14px;
    text-align: right;
    margin-right: 10px;
    cursor: pointer;
}
.favorite{
    margin-left: 30px;
}
#slider{
    height: 555px;
    padding: 0px 55px;
}
.slider_main{
    display: flex;
    align-items: center;
}
#slider{
    margin-top: -70px;
}
.carousel_scroll{
    height: 690px !important  
}
.carousel_scroll .carousel-item{
    width: 100% !important;
    height: 555px !important;
}
.carousel_scroll .carousel-item>img{
    object-fit: cover; 
    width: 100%;
    height: 555px;
}
.controls{
    z-index: 10000;
}
.carousel_scroll .carousel-item{
    height: 555px !important;
}
.arrowLeft{
    position: absolute;
    margin-left: 20px;
    cursor: pointer;
    margin-top: -15px;
}
.arrowRight{
    position: absolute;
    right: 55px;
    margin-right: 20px;
    cursor: pointer;
    margin-top: -15px;
}
.text_item{
    position: absolute;
    bottom: 0px;
    margin-left: 100px;
    margin-bottom: 114px;
    color: #FFFFFF;
    line-height: 61px;
    font-size: 58px;
    width: 464px;
    font-family: "FuturaPTDemi";
    text-shadow: 0px 3px 6px #00000029;
}
.btn_item{
    width: 321px;
    height: 50px;
    border-radius: 25px;
    background-color: #FFFFFF;
    position: absolute;
    bottom: 0px;
    margin-left: 100px;
    margin-bottom: 34px;
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}
.btn_item div{
    width: 100%;
    color:#212121;
    font-size: 20px;
    line-height: 26px;
}
.carousel_scroll .indicators .indicator-item{
    border-radius: 0px;
    width: 24px;
    height: 8px;
    background-color: #E3E3E3;
}
.carousel_scroll .indicators .indicator-item.active{
    background-color: #272727;
}
#menu_main_mobile{
    display: none;
    height: 60px;
    box-shadow: 0px 1px 4px #00000029;
    justify-items: center;
    align-items: center;
    padding: 0px 15px;
    background: #ffffff;
}
#menu_main_mobile .menu{
    height: 60px;
    display: flex;
    justify-items: center;
    align-items: center;
    position: absolute;
    z-index: 1;
}
#menu_main_mobile .menu img{
    width: 24px;
    
}
#menu_main_mobile .logo{
    position: absolute;
    align-items: center;
    justify-content: center;
    height: 60px;
    display: flex;
    width: 100%;
}
#menu_main_mobile .logo div{
       display: flex;
       align-items: center;
}
#menu_main_mobile .logo img{
    width: 41.32px;
}
#menu_main_mobile .cart{
    padding-right: 18px;
    position: absolute;
    right: 15px;
    padding: 15px 15px;
}
#menu_active_mobile .logo{
    height: 41.32px;
    margin-top: 10px;
}
#content_main{
    padding: 0px 55px;
    height: 419px;
}
#content_main img{
    width: 100%;
    object-fit: cover; 
    height: 419px;
}
.image_content{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 419px;
}
.image_content > img{
    position:absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}
.text_cont{
    color: #FFFFFF;
    text-shadow: 0px 3px 6px #00000029;
    font-size: 42px;
}
.text_card{
    padding-bottom: 15px;
    font-size: 42px;
    line-height: 61px;
}
.btn_image{
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background-color: #FFFFFF;
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    color: #212121;
}
.btn_image div{
    text-align: center;
    width: 100%;
}
#content_main .col{
    padding-left: 0px;
}
#content_main .left{
    padding-right: 0px;
}
.btn_item_content{
    margin-left: 61px;
    margin-bottom: -235px;
    width: 200px;
}
.card{
    box-shadow: none;
}
.padLeft{
    padding-left: 7.5px;
}
.padRight{
    padding-Right: 7.5px;
}
.cont_horizontal{
    height: 351px !important;
}
.title_favorites{
    font-family: "FuturaPTMedium";
    font-size: 42px;
    line-height: 32px;
    text-align: center;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}
.instruccion{
    width: 69px;
    height: 21px !important;
    font-family: "FuturaPTDemi";
    border-radius: 5px;
    color:#FFFFFF !important;
    font-size: 12px !important;
    margin-left: 5px !important;
}
.new_b{
    background-color: #0043BA;   
}
.hotsale_b{
    background-color: #C4143D;   
}
.top_b{
    background-color: #FFC844;   
    color:#212121 !important;
}
.title_scroll{
    width: 100%;
    text-align: right;
}
.card-content_scroll{
    font-family: 'FuturaPTBook';
    font-size: 16px;
    text-align: left;
    line-height: 18px;
    color:#212121;
    padding-top: 13px !important;
}
.colors_scroll_cont{
    padding-top: 10px;
    display: flex;
}
.colors_scroll{
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.green_scroll{
    background-color: #266A36;
}
.blue_scroll{
    background-color: #0043BA;
}
.gray_scroll{
    background-color: #6B6B6B;
}
.margin_left{
    margin-left: 5px;
}
.colors_text_scroll{
    color:#707070;
    font-size: 14px;
    font-family: 'FuturaPTBook';
    line-height: 14px;
    letter-spacing: 2px;
}
.price_scroll{
    display: flex;
    padding-top: 5px;
}
.real_price{
    font-family: 'FuturaPTBook';
    font-size: 14px;
    line-height: 14px;
    color:#212121;
    text-decoration:line-through;
}
.sale_price{
    font-family: 'FuturaPTBook';
    font-size: 14px;
    line-height: 14px;
    color:#FF0000;
    margin-left: 20px;
}
.item_scroll_main{
    width: 261px;
}
.carousel_favorites .carousel-item{
    width: 100% !important;
    height: 261px !important;
}
.carousel_fovorites_main{
    height: 540px !important;
}
.carousel_fovorites_main .carousel-item{
    display: flex !important;
    justify-content: center;
}
.carousel_fovorites_main .controls-favorites{
    z-index: 10000;
}
.carousel_fovorites_main .arrowLeft{
    margin-left: 20px;
    cursor: pointer;
    margin-top: -54px;
    z-index: 1000;
}
.carousel_fovorites_main .arrowLeft img{
    height: 14px;
}
.cont_favorites_main{
    padding: 0px 55px;
}
.fav_control, .arrowLeft_fav, .arrowRight_fav{
    display: flex;
}
.arrowLeft_fav, .arrowRight_fav{
   cursor: pointer;
   height: 381px;
}
.carousel_fovorites_main .indicators .indicator-item{
    border-radius: 0px;
    width: 24px;
    height: 8px;
    background-color: #E3E3E3;
}
.carousel_fovorites_main .indicators .indicator-item.active{
    background-color: #272727;
}
.cont_suscribe{
    padding: 15px 55px;
    font-family: 'FuturaPTMedium';
    font-size: 42px;
    line-height: 32px;
}
.cont_suscribe .subText{
    font-size: 20px;
    line-height: 24px;
    font-family: 'FuturaPTBook';
    padding-top:10px;
}
.rect{
    line-height: 0px;
    padding-bottom: 30px;
}
.input_send{
    padding: 0px;
    margin-right: 0px;
    padding-left: 15px;
    color:#000000;
}
.subBtn{
    font-family: 'FuturaPTMedium';
    font-size: 16px;
    line-height: 24px;
    background-color: #212121;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 100px;
    border-radius: 0px 20px 20px 0px;
}
.send_mobile{
    display: none;
}
.send_mobile .subBtn{
    width: 100%;
    margin-top: 15px;
    border-radius:20px ;
    height: 40px;
}
.send_continue{
    display: flex;
    justify-content: center;
    margin-top:12px !important;
    width: 100%;
}
.send_continue .subBtn{
    width: 408px;
    margin-top: 30px;
    border-radius:20px ;
    height: 40px;
}

.send_registration .subBtn{
    width: 408px;
    margin-top: 15px;
    border-radius:20px ;
    height: 40px;
}
.send_registration{
    margin-top:0px !important;
    display: flex;
    justify-content: center;
}
.send_question .subBtn{
    width: 100%;
    margin-top: 15px;
    border-radius:20px ;
    height: 40px;
}
.cont_information{
    padding: 15px 55px;
}
.card_title_cont{
    width: 302px;
    height: 120px;
    background-color: #FFFFFF;
    opacity: 0.8;
    color:#000000;
    display: flex;
    align-items: center;
    padding-left: 34px;
}
.image_content_info{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 404px;
}
.image_content_info > img{
    position:absolute !important;
    left: -100% !important;;
    right: -100% !important;;
    top: -100% !important;;
    bottom: -100% !important;;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}
.cont_information .text_cont{
    padding-left: 0px !important;
}
.cont_information .card_title_cont .principal{
    font-size: 42px;
    line-height: 42px;
    font-family: 'FuturaPTDemi';
    padding-top: 21px;
}
.cont_information .card_title_cont .sub_text{
    font-size: 16px;
    line-height: 42px;
    font-family: 'FuturaPTBook';
    text-decoration: underline;
}
.cont_information  .row .col .card{
    padding-bottom: 0px;
    padding-top: 15px;
    margin: 0px;
}
#content_main .card .card-title{
    font-size: 20px;
}
footer{
    margin-top: 30px;
    background-color: #000000 !important;
}
.footer_cont{
    padding: 0px 55px;
    padding-bottom: 30px;
}
.title_text_footer{
    color: #fff !important;
    font-family: 'FuturaPTMedium';
    font-size: 20px;
    line-height: 20px;
}
.subtex_footer{
    color: #fff !important;
    font-family: 'FuturaPTBook';
    font-size: 14px;
    line-height: 28px;
}
.btnSend_footer{
    border:1px solid #FFFFFF;
    background-color: transparent;
}
.footer_cont .logo{
    padding-bottom: 15px;
}
footer .pay{
    background-color: #F5F5F5;
    height: 130px;
    padding:30px 55px;
    padding-bottom: 50px;
    color:#212121;
}
footer .title_pay{
    font-family: 'FuturaPTMedium';
    font-size: 14px;
    padding-bottom: 15px;
}
footer .social{
    display: flex;
}
footer .social_mobile div{
    margin-right: 30px;
}
footer .privacity{
    padding-top: 30px;
    padding-bottom: 30px;
}
footer .text{
    font-family: 'FuturaPTBook';
    font-size: 14px;
    color:#FFFFFF;
    padding-right: 30px !important;
    text-align: right;
}
footer .textTerm{
    text-decoration: underline;
    padding-left: 30px !important;
    text-align: left;
}
.privacity .copy{
    text-align: center;
    padding-top: 30px;
}
footer .privacity_termns{
    display: flex;
    justify-content: center;
}
.social_mobile{
    display: flex;
}
.social_mobile .final{
    margin-right: 0px;
}
.termns_mobile{
    display: none;
    margin-top: 30px !important;
}
footer .collapsible{
    border: 0px;
}
footer .collapsible-body{
    border: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
footer .collapsible-header{
    background-color: transparent;
    border: 0px;
}
footer .plus{
    text-align: right;
}
footer .collapsible-header{
    font-size: 20px;
    font-family: 'FuturaPTMedium';
}
.close_search{
    display: none;
}
#menu_active{
    display: none;
    position: block;
    height: auto;
    background: #fff;
    width: 100vw;
    z-index: 100000;
    padding: 0px 55px 30px 55px;
}
#seach_cont{
    display: none;
    position: block;
    height: 670px;
    background: #fff;
    width: 100vw;
    z-index: 100000;
}
.title_menu{
    font-size: 20px;
    padding-bottom: 10px;
    font-family: 'FuturaPTMedium';
}
.subtitle_menu{
    font-size: 15px;
    padding-bottom: 5px;
    cursor: pointer;
}
.suggestions{
    padding-left: 55px !important;
}
.suggestions_title{
    font-size: 20px;
    padding-bottom: 15px !important;
}
.fovorite_scroll{
    right: 0;
    position: absolute;
    padding: 15px;
    top:0;
}
#menu_active_mobile{
    display: none;
    width: 100vw;
    min-height: 100vh;
    height: 100px;
    overflow: auto;
    background-color: #fff;
    position: absolute;
    top: 0px;;
    left:0;
    z-index: 1;
}
.close_menu_main{
    position: absolute;
    right: 15px;
    top: 20px;
}
.collapsible-header, .collapsible-body{
    border:none;
}
.collap_menu{
    padding: 15px !important;
   
}
.collap_menu .collapsible{
    border:0px;
    box-shadow: none !important;
}
.collap_menu .collapsible-header{
    font-size: 24px;
    font-family: 'FuturaPTBook';
    text-align: left;
}
.collap_menu .plus{
    text-align: right;
}
.collap_menu .collapsible-body{
    text-align: left;
    padding-top:0;
    padding-bottom:0;
}
.collap_menu .subtex_footer{
    color: #000000 !important;
    font-family: 'FuturaPTBook';
    font-size: 18px;
    line-height: 28px;
}
.favorites_menu{
    border-top: 1px solid #CECECE;
    border-bottom: 1px solid #CECECE;
}
.option_help{
    text-align: right;
    display: flex;
    justify-content: flex-end;
    padding-right: 7.5px !important;
}
.option_stores{
    text-align: left;
    display: flex;
    padding-left: 7.5px !important;
}
#menu_active_mobile .social_mobile{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
#menu_active_mobile .social_mobile div{
    margin-right: 50px;
}
#menu_active_mobile .social_mobile .final{
    margin-right: 0px;
}
.question_menu{
    color:#707070;
    font-family:"FuturaPTBook";
    font-size: 16px;
    text-align: center;
    padding-top: 30px !important;
}
.question_menu span{
    color: #000000 !important;
}
.big_search{
    width: 100%;
}
.img_payments{
    width: 300px;
}
.mode_view{
    text-align: right;
}
.mode_view img{
    margin-left: 15px;
}
.list_filters{
    margin-top: -30px;
}
.filters_mobile{
    display: none;
}
.cont_main{
    padding:0px 55px;
}
.text_main{
    font-size: 18px;
    line-height: 23px;
    color:#212121;
    font-family:"FuturaPTDemi";
    padding-bottom: 30px;
}
.subtitle_filters_lateral{
    font-size: 18px;
    line-height: 23px;
    color:#000000;
    font-family:"FuturaPTBook";
    padding-bottom: 15px !important;
}
.subtitle2_filters_lateral{
    font-size: 18px;
    line-height: 24px;
    color:#212121;
    font-family:"FuturaPTDemi";
    padding-bottom: 20px !important;
}
.subtitle2_filters_lateral img{
    cursor: pointer;
}
.cont_filters_text{
    font-size: 14px;
    line-height: 24px;
    color:#212121;
    font-family:"FuturaPTBook";
    padding-bottom: 15px;
    padding-left: 15px !important;
}
.cont_filters_text span{
    color:#BFBFBF;
    padding-left: 15px;
}
.filters_cont{
    overflow: auto;
    height: 173px;
    max-width: 190px;
    margin-bottom: 20px;
}
.cont_filters_text:hover, .subtitle2_filters_lateral:hover{
    color:#0043BA;
}
[type="checkbox"].filled-in:checked+label:after{
    border: 2px solid #0043BA;
    background-color: #0043BA;
}
.filters_type{
    height: auto;
    max-height: 170px;
}
.filters_type p{
    margin-block-start: 6px !important;
    margin-block-end: 6px !important;
    margin-left: 15px;
}
.filters_type label{
    font-size: 14px;
    line-height: 24px;
    color:#212121;
    font-family:"FuturaPTBook";
    padding-bottom: 15px;
}
.filters_type label:hover{
    color:#0043BA;
}
.color_filter{
    width: 20%;
}
.color_filter .init{
    display: flex;
    padding-top: 8px;
}
.color_filter .init div{
    padding-right: 6px;
}
.text_color{
    font-family:"FuturaPTBook";
    font-size: 8px;
    line-height: 10px;
    color:#000000;
    text-align: center;
    margin-top: -5px;
}
.color_main{
    text-align: center;
}
.green{
    fill:#06760F;
}
.blue{
    fill:#1E659A;
}
.black{
    fill:#000000;
}
.white{
    fill:#f0f0f0
}
.wine{
    fill:#7B0A0A;
}
.pistachio{
    fill:#ADC9A1;
}
.pink{
    fill:#F5A8A8;
}
.gray{
    fill:#D1D1D1;
}
.subtitle_menu a{
    color:#000000;
}
.size{
    font-family:"FuturaPTBook";
    font-size: 10px;
    line-height: 16px;
    border: 1px solid #E1E1E1;
    background: #F5F5F5;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    float: left;
    margin-top: 10px;
}
.active_size{
    border: 1px solid #0043BA;
    background: #0043BA;
    color: #fff;
}
.view_general .view_element{
    display: flex;
    justify-content: center;
}
.modeFour, .modeSix{
    cursor: pointer;
}
.subBtn a{
    text-decoration: none;
    color:#fff;
}
.m_close{
    text-align: right;
}
.m_logo{
    text-align: center;
}
.m_title{
    text-align: center;
    font-family:"FuturaPTDemi";
    font-size: 18px;
    line-height: 23px;
    padding-top: 10px;
    padding-bottom: 15px;
}
.m_form{
    font-family:"FuturaPTDemi";
    font-size: 14px;
    line-height: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 42px;
    display: flex;
}
.m_email{
    border: 1px solid #909090;
    border-radius: 20px;
    background: #FFFFFF;
    padding-right: 15px;
    padding-left: 15px;
    height: 40px;
    margin-top: 5px;
}
.m_form input[type=text]:not(.browser-default){
    border-bottom:none;
    height: 40px;
    padding: 0px 5px 0px 15px;
}
.dropdown-content li>a, .dropdown-content li>span{
    color: #000000;
}
.m_input{
    font-family:"FuturaPTBook";
    font-size: 16px;
    line-height: 24px;
    height: 40px;
}
.m_emain_main{
    width: 408px;
}
.m_group_form{
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 42px;
}
.m_birth_main{
    width: 190px;
}
.m_birth{
    margin-left: 0px;
}
.m_buy{
    padding-left: 10px;
}
.m_between{
    width: 13px !important;
}
.m_lst{
    margin-top: 5px;
    width: 100%;
}
.m_lst .select-dropdown{
    border-radius: 20px !important;
    border:1px solid #909090 !important;
    background-color: #fff !important;
}
.m_filters .select-dropdown{
    border-radius: 20px !important;
    border:1px solid #909090 !important;
    background-color: #fff !important;
}
.m_filters{
    margin-top: -19px;
}
.m_filters .select-wrapper span.caret{
    color: #000000 !important;
    z-index: 1;
}
.m_lst .select-wrapper span.caret{
    color: #000000 !important;
    z-index: 1;
}
.m_lst input{
    color:#909090;
    font-size: 16px;
    font-family:"FuturaPTBook";
}
#modal1{
    z-index: 100000 !important;
    background-color: #FFFFFF !important;
    width: 537px !important;
    height: 552px !important;
    overflow: hidden;
}
#modal_registration_ok{
    z-index: 100004 !important;
    background-color: #FFFFFF !important;
    width: 537px !important;
    height: 390px !important;
    overflow: hidden;
    display: none;
}
.m_buy .m_email{
    margin-left:20px ;
}
.m_requiere{
    font-family:"FuturaPTDemi";
    font-size: 12px;
    line-height: 16px;
    text-align: center;
}
.m_send{
    padding:0px;
    margin-top: -25px;
}
.m_footer{
    font-family:"FuturaPTBook";
    font-size: 14px;
    line-height: 18px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
}
.m_footer div{
    width: 300px;
}
.underline{
    text-decoration: underline;
}
[type="checkbox"].filled-in:not(:checked)+label:after{
    border: 1px solid #BFBFBF;
}
.control{
    cursor: pointer;
}
.images_payments img{
    padding-left: 5px;
}
.m_title_regis{
    color:#0043BA;
    font-family:"FuturaPTMedium";
    font-size: 42px;
    line-height: 32px;
    margin-top: 35px;
}
.m_registration_subtext{
    font-family:"FuturaPTBook";
    color:#000000;
    font-size: 20px;
    line-height: 26px;
    margin-top: 40px;
    text-align: center;
}
.collapsible_filter{
    margin-top: 30px;
    height: 33px;
    border: 0px;
    box-shadow: none;
}
.active_colap{
    display: block;
}
.collap-body{
    display: none;
}
.collap-header{
    display: flex;
}
.collad_header_text{
    width: 75%;
}
.card .card-image .card-title{
    padding: 27px 12px !important;
}
#content_main .card .card-title{
    padding-left: 50px !important;
    padding-bottom: 50px !important;
}
#content_main .card .text_card{
    padding-bottom: 0px;
}
.text_cont_view{
    font-size: 14px;
    line-height: 18px;
    font-family:"FuturaPTBook";
    color:#000000;
    margin-top: 42px;
    margin-bottom: 20px;
}
.btn_cont_view{
    display: flex;
    justify-content: center; 
    margin-bottom: 80px;
}
.btn_cont_view div{
    font-family: 'FuturaPTMedium';
    font-size: 16px;
    line-height: 24px;
    background-color: #212121;
    height: 40px !important;
    width:302px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 100px;
    border-radius: 20px;
    cursor: pointer;
}
.card-content{
    cursor: pointer;
}
.card-image{
    cursor: pointer;
}
#search_mobile_cont{
    display: none;
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    height: auto;
    z-index: 100003;
    padding: 35px;
}
.search_m_text, .search_m_results{
    font-family: 'FuturaPTBook';
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 30px !important;
}
.search_m_results{
    padding-top: 20px !important;
    padding-bottom: 15px !important;
}
.search_m_title{
    font-family: 'FuturaPTBook';
    font-size: 16px;
    line-height: 20px;
}
.search_m_price_real{
    font-family: 'FuturaPTBook';
    font-size: 16px;
    line-height: 16px;
    text-decoration:line-through;
    text-align: right;
}
.search_m_price{
    font-family: 'FuturaPTBook';
    font-size: 16px;
    line-height: 16px;
    color:#FF0000;
    text-align: right;
}
.search_m_colors{
    padding-bottom: 5px !important;
}
.search_option_comp{
    margin-bottom: 5px;
}
.search_m_prices{
    margin-top: -20px;
}
.cont_prop .card .card-image .card-title{
    padding-left: 0px !important; 
}
.back_mobile{
    display: none;
}



































@media(max-width:600px){
    .back_mobile{
        display: block;
        margin-bottom: 55px;
        margin-top: -40px;
    }
    .cat_back_text{
        height: 32px;
        display: flex;
        align-items: center;
    }
    .instruccion{
        margin-top: 10px;
    }
    .space_right{
        padding-right: 7.5px !important;
    }
    .space_left{
        padding-right: 7.5px !important;
    }
    .selectFilters{
        width: 93% !important;
    }
    #content_main .card .card-title{
        text-align: center;
        padding-left: 12px !important; 
        padding-bottom: 20px !important;
    }
    .cont_prop .card .card-image .card-title{
        padding-left: 0px !important; 
    }
    .images_payments{
        text-align: center;
    }
    #modal1, #modal_registration_ok{
        width: 100% !important;
    }
    .m_buy{
        padding-top: -20px !important;
        padding-left: 0px;    
    }
    .m_lst{
        width: 177px;
    }
    .m_form{
        display: flex;
        justify-content: center;
        margin-left: 0px;
    }
    .m_birth_main{
        width: 100%;
        margin-bottom: 15px;
    }
    .m_group_form{
        display: block;
        margin-top: -12px;
    }
    #modal1{
        top:0px !important;
        height: 596px !important;
        max-height: 100%;
    }
    #modal1 .modal-trigger{
        width: 100%;
    }
    #modal1 .btnRegistration{
        width: 100%;
    }
    .m_between{
        width: 26px !important;
    }
    .filters_lateral{
        display: none;
    }
    .cont_main{
        padding:0px 15px;
    }
    .title_pay_cont{
        text-align: center;
    }
    .filters{
        padding:0px 15px !important;
    }
    .title_filters{
        padding:0px 15px;
    }
    .title_categories{
        padding:0px !important;
    }
    .filters_mobile{
        display: block;
        text-align: right;
    }
    .title_filters{
        margin-top: -40px;
        padding-bottom: 50px;
    }
    .mode_mobile{
        display: none;
    }
    .content_sites{
        display: flex;
        justify-content: center;
    }
    .termns_mobile{
        display: block;
    }
    footer .textTerm{
        margin-top: 15px;
        padding: 0px !important;
    }
    footer .text{
        text-align: center;
        padding-right: 0px !important;
    }
    footer .social_mobile{
        margin:0;
    }
    footer .privacity_termns{
        display: inline-block;
    }
    footer .social{
      justify-content: center;
    }
    footer .title_pay{
        text-align: center;
        padding-top: 20px;
    }
    footer .pay{
        height: auto;
        padding-bottom: 30px;
    }
    .cont_information_main{
        display: none;
    }
    .footer_cont .logo img{
        width: 42px;
    }
    .footer_cont{
        padding: 0px 15px;
        padding-bottom: 30px;
    }
    .subText{
        font-size: 20px;
    }
    .cont_suscribe{
        font-size: 24px;
    }
    .cont_information{
        padding: 15px 15px;
    }
    .send_cont{
        display: none;
    }
    .send_mobile{
        display: block;
        padding-top: 30px;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .information_header{
        padding:0px;
    }
    .information_promo{
        padding: 8px 15px 8px 15px;
    }
    .text_promo{
        padding-left: 10px;
        padding-right: 10px;
        line-height: 15px;
        padding: 8px 10px 8px 8px;
    }
    .information_main {
      display: none;
    }
    #menu_main{
        display: none;
    }
    #slider{
        padding: 0px 15px;
    }
    .arrowRight{
        right: 15px;
    }
    .carousel_scroll{
        height: 750px !important;
    }
    .carousel_scroll .carousel-item, .carousel_scroll .carousel-item>img{
        height: 651px !important;
    }
    .text_item_main{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .btn_item{
        width: 90%;
        margin-left: 0;
    }
    .text_item{
        font-size: 48px;
        line-height: 50px;
        margin-left: 0;
        margin-bottom: 264px;
        width: 100%;
        text-align: center;
        padding-right: 45px;
        padding-left: 45px;
    }
    .arrowLeft{
        margin-left: 10px;
    }
    .arrowRight{
        margin-right: 10px;
    }
    #menu_main_mobile{
        display: block;
    }
    #content_main{
        padding: 0px 15px;
        height: 266px;
    }
    .btn_image{
        width: 300px;
    }
    .text_cont{
        width: 100%;
    }
    .btn_image_cont{
        display: flex;
        justify-content: center;
    }
    .text_card{
        font-size: 36px;
    }
    .padLeft{
        padding-left: 0px;
    }
    .padRight{
        padding-Right: 0px;
    }
    .cont_horizontal .card-title .text_card{
        text-align: center;
    }
    .carousel_fovorites_main{
        height: 453px !important;
    }
    .carousel_fovorites_main .carousel-item{
        display: flex !important;
        justify-content: center;
        height: 540px;
    }
    .cont_favorites_main{
        padding: 0px 15px;
    }
    .cont_suscribe{
        padding: 15px 15px;
    }
  }